@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(219, 235, 235);
    font-family: "Cal Sans", sans-serif;
    text-align: center;
}
h1{

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

.pagina-conteiner{
    background-color:rgb(192, 211, 211);
}

.sobre-conteiner {
    margin: 15px;
    background-color: rgb(211, 230, 230);
}

li {
    margin: 4px;
}